/spc
*.dSYM/
*.s
*.profraw
*.profdata
/coverage/
/examples/*
!/examples/*.c
!/examples/*.spl
/tests/assembly/*
!/tests/assembly/*.spl
!/tests/assembly/*.s
/tests/failure/*
!/tests/failure/*.spl
!/tests/failure/*.txt
/tests/success/*
!/tests/success/*.spl
